#popCarPosts {
    height: 100px;
    width: auto;
    border: 1px solid black;
    max-width: 95%;
    font-weight: 700;
    font-size: 26px;
    color: white;
}

.popular-car {
    font-weight: 700;
    font-size: 26px;
    color: white;
}

#carPosts {
    margin-top: 10px;
    height: 300px;
    max-width: 100%;
    overflow: hidden;
}

#carPaging {
    background-color:  #2c2727;
}

uib-pagination {
    background-color:  #2c2727;
}

#userCarBody {
    color: white;
    background-color:  #2c2727;
   
}

#carPageBody {
    background-color: #a52020;
    margin-left: 10px;
}

#carRepeat {
    background-color:  #2c2727;
    color: white;
    font-size: 14px;
    font-weight:700;
}

#carProps {
  margin-top: 5px;
  margin-bottom: 15px;
}

#rateCarBut {
    margin-top: 55px;
    margin-bottom: 5px;
   
}

#rateDriverBut {
    margin-top: 5px;
    margin-bottom: 5px;
}

#thumbnailCars {
      
    color: black;
    font-size: 14px;
    font-weight:700;
}

#sideCarP {
    color: black;
    font-size: 20px;
}

#carDeets {
    margin-top: -12px;
}

#rateButton1 {
    margin-bottom: 25px;
}

#rateButton2 {
    margin-bottom: 25px;
}

