body {
    background-image: url(https://images7.alphacoders.com/312/312528.jpg)!important;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
    background-attachment: fixed; 
}

@media only screen and (max-width: 1200px) {
    .tbc {
                display: none;
    }
}


@media only screen and (max-width: 720px) {
  .popular-car { display: none; }
  .mobile-hide{ display: none; }
}


/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.navbar-right-btn{
    cursor:pointer;
}

