<!-- Start Content 1 -->
<section class="aboutContent">

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="content-text-1">
                    <h1 style="color: white">RentMyCar is a collaborative effort among programmers from Seattle, WA and Houston, TX.</h1>
                </div>
                <div class="content-text-2">
                    <center><p class="lead" style="color:white">The vision for this unique APP is to demonstrate our newly acquired programming skills and to demonstrate our ability to work on a team using Visual Studio Team Services to build a tool displaying some of the latest tools available in the market. </p></center>
                </div>
                <div class="content-text-3">
                    <p></p>
                </div>
            </div>

            <div class="col-lg-5 col-lg-right-1 col-md-6 col-sm-12">
                <img class="img-responsive" src="https://media-cdn.tripadvisor.com/media/photo-s/03/9b/30/26/seattle.jpg"><br /><br />
            </div>
            <div class="col-lg-5 col-lg-left-1 col-md-6 col-sm-12">
                <img class="img-responsive" src="https://images.trvl-media.com/media/content/shared/images/travelguides/destination/178265/Houston-21513.jpg" />
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

</section>
<!-- // End Content 1 -->
<!-- Start Team -->
<div class="container">

    <div class="underlined-title">
        <div class="hello-team">
            <center><h1 style="color: white;">Meet the Troop 8 Team</h1></center>
        </div>
        <hr>
    </div>
</div>
<div class="row" id="aboutSection2">
    <div class="container-fluid">
        <div class="row" style="color: white;">
            <div class="col-md-3">
                <h3>
                    Cory Couty
                </h3>
                <h4>Team Member</h4>
                <img alt="Bootstrap Image Preview" src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAATAAAAAJDcwMmRmMzgwLTZmYmEtNDA3NC05NjlkLTFjNjc2MGI5NDg2ZQ.jpg" class="img-circle" />
            </div>
            <div class="col-md-3">
                <h3>
                    Jason DeNevers
                </h3>
                <h4>Team Member</h4>
                <img alt="Bootstrap Image Preview" src="https://www.filestackapi.com/api/file/Xs9tyhjhQL2iJjvoEj6P" class="img-circle" style="height: 150px; width: 150px" />
            </div>
            <div class="col-md-3">
                <h3>
                    Ayesha Shaikh
                </h3>
                <h4>Team Member</h4>
                <img alt="Bootstrap Image Preview" src="https://upel7q.dm2301.livefilestore.com/y3m-lShq7s6BxyQ-csPjn-pTHyqGDctbXQOkzLGbXWLIrGo1KdNEfrgz3Say7ZrI1ArIz2XxRybmZGFTDir6_64pfEADx5_yidT838mZJqsLyDpsOemG7Evp8nvhhGjfUHQHvdEGBxGS-taSXLRCV43D285pQWf9zNa-1dRi2vnjOA/PEARL%20-%20IMG-20140219-WA0028.jpg?psid=1" class="img-circle text-center" style="height: 150px; width: 125px" />
            </div>
            <div class="col-md-3">
                <h3>
                    Morgan Pylant <br />

                </h3>
                <h4>Team Member</h4>
                <img alt="Bootstrap Image Preview" src="https://codercamps.blob.core.windows.net/avatars/mpylant2.jpg" class="img-circle" />
            </div>
        </div>
    </div>


</div>
<!-- /.container -->
<!--// End Team -->
<!-- Start Copyright Bar -->

<!--// End Copyright Bar -->
