<div class="container">
    <div class="row searchCars">
        <form class="col-sm-12">
            <div class="col-md-2 col-md-offset-1">
                <div class="form-group">
                    <label for="carMake">
                        <strong>Car Brand:</strong>
                    </label>
                    <select class="form-control dropdown" id="carMake">
                        <option ng-repeat="option in controller.cars" value="{{option.id}}">{{option.make}}</option>
                        
                    </select>
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="form-group">
                    <label for="carModel">
                        <strong>Car Model:</strong>
                    </label>
                    <select class="form-control" id="carModel">
                        <option ng-repeat="option in controller.cars" value="{{option.id}}">{{option.model}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="carYear">
                        <strong>Car Year:</strong>
                    </label>
                    <select class="form-control" id="carYear">
                        <option ng-repeat="option in controller.cars" value="{{option.id}}">{{option.year}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="carPrice">
                        <strong>Car Price a Day:</strong>
                    </label>
                    <select class="form-control" id="carPrice">
                        <option ng-repeat="option in controller.cars" value="{{option.id}}">{{option.price}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                
                    <label for="submit">
                        <strong class="advanced" ng- data-ng-mousemove="">Search</strong>
                    </label>
            <button type="submit" class="src btn btn-sm red">Search<i class="glyphicon-search"></i></button>
                
            </div>
        </form>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2>Recent Listings</h2>
            <uib-pagination total-items="controller.totalItems" ng-model="controller.currentPage" max-size="controller.maxSize" class="pagination-sm" boundary-link-numbers="true" ng-change="controller.getCars()" items-per-page="controller.itemsPerPage"> <!--items-per-page="vm.itemsPerPage"--></uib-pagination><br />
            <div class="col-md-5" ng-repeat="c in controller.cars">
               
                <div class="">
                    <a href="/car/{{c.id}}"><img id="carPosts" src="{{c.image}}" /></a>
                    <div class="col-md-5">
                        <p>{{c.year}} {{c.make}} {{c.model}}<br />Price per day: {{c.price}}</p>
                    </div>
                    <div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-sm-8">
                            {{c.averageRating}}
                        </div>
                        <div class="col-sm-4 carRateButton">
                            <div class="btn btn-block btn-danger" ng-click="controller.carRateModal(c.id)">RATE</div>
                        </div>
                        
                    </div>
         
            </div>
            </div>
        </div>
        </div>
    <uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" max-size="vm.maxSize" class="pagination-sm" items-per-page="vm.itemsPerPage"></uib-pagination>
    </div>





