<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    LayoutIt! <small>Interface Builder for Bootstrap</small>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>
                        Car To Rent
                    </h3><img alt="Bootstrap Image Preview" class="carAndLoanerImg text-center" style="height: 400px; width: 500px" src="{{controller.carDetail.image}}" />
                    <div class="row">
                        <div class="col-md-4">
                            car details BLAH BLAH
                        </div>
                        <div class="col-md-4">
                            <div class="btn btn-lg btn-default" ng-click="controller.carReviewModal(controller.carDetail)"></div>
                            MORE CAR DETAILS
                        </div>
                        <div class="col-md-4">
                            GOOGLE LOCATION PLACE HOLDER
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>
                        Car Owner
                    </h3><img alt="Bootstrap Image Preview" class="carAndLoanerImg" src="{{}}" />
                    <div class="row">
                        <div class="col-md-4">
                            USER DETAILS
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
