
<div class="container">
    <!-- Start Promo -->


    <div class="row" id="promo-1">

        <div class="col-md-5">
            <form ng-submit="controller.register()">
                <div class="welcome">
                    <h2>Take an adventure.</h2>
                </div>
                <div class="welcome-paragraph">
                    <p></p>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <input ng-model="controller.registerUser.firstName" type="text" placeholder="First name" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input ng-model="controller.registerUser.lastName" type="text" placeholder="Last name" class="form-control">
                        </div>
                    </div>
                    <div>
                        <div class="form-group col-md-6">
                            <input ng-model="controller.registerUser.displayName" type="text" placeholder="User name" class="form-control">
                        </div>

                        <div class="form-group col-md-6">
                            <input ng-model="controller.registerUser.email" type="text" placeholder="Email address" class="form-control">
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input ng-model="controller.registerUser.password" type="password" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input ng-model="controller.registerUser.confirmPassword" type="password" placeholder="Confirm Password" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-11" style="margin-left:1em">
                            <div class="input-group form-group">
                                <span class="input-group-addon">
                                    <input ng-model="controller.registerUser.isLoaner" type="checkbox" aria-label="...">
                                </span>

                                <label class="form-control">Check this if you wish to post your car!</label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">

                                <input  type="button" id="uploadBut" class="form-control" value="Upload Image" ng-click="controller.pickFile()" />

                            </div>
                        </div>
                    </div>





                </div>

                <center><button type="submit" id="homeRegisterBut" class="btn btn-danger btn-lg btn-block">Register Now!</button></center>
            </form>
        </div><!-- /.col -->
        <div class="col-md-7"></div>

    </div>
</div><!-- /.row -->
<!--// END Promo -->
<!-- Start Features -->
<div class="container">
    <div class="row">
        <div class="col-lg-12" style="background-color: #a52020; color: white;">
            <div class="bottomHome">
                <div class="col-md-4 text-center">
                    <img style="margin-top: 10px;" class="icon img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoSmePx9y5B4tiLl4D71Jo4ckkIFloP_HOil4NLPncquqAXoWqzQ" width="300">
                    <h3>Rent in <strong>Two Steps</strong>:</h3>
                    <h3>Get behind the wheel easier!</h3>
                    <p>Start building a personal business relationship with the owner and reduce your rental costs by cutting out the rental agency.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img style="margin-top: 10px;" class="icon img-circle" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQuXnOK-YhaC8CW3vjIYvGI7Bk0Z_q1pel_uCzIaQBH-3XSWbCU" width="200">
                    <h3><strong>Step 1:</strong></h3>
                    <h3>Pick out the car that is right for you.</h3>
                    <p>Review our exclusive list of privately owned vehicles to fit your personal needs.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img style="margin-top: 10px;" class="icon img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQowmUrqSKLNdkOIQQlx6V76-_LH3lmw86xC0Za54HHc6cyuJFSbw" width="300">
                    <h3><strong>Step 2:</strong></h3>
                    <h3>Rent directly from the owner.</h3>
                    <p>The owner will provide a level of service and care as if you are driving their personal vehicle...because you are.</p>
                </div>
            </div>
        </div>
    </div>
 
</div>

<!--// END Features -->
