<div class="container profileBody">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
                <table class="table profileBox">
                    <tr>
                        <th>Status</th>
                        <th>User Name</th>
                        <th>Full Name</th>
                        <th>Email</th>
                    </tr>
                    <tr ng-repeat="user in controller.users">
                        <td>
                            <span ng-if="user.isLoaner == true">Loaner</span>
                            <span ng-if="user.isLoaner == false">Not loaner</span>
                            <span ng-if="user.isAdmin == true">(Admin)</span>
                        </td>
                        <td><a href="/profile/{{user.id}}">{{user.displayName}}</a></td>
                        <td>{{user.firstName}} {{user.lastName}}</td>
                        <td>{{user.email}}</td>
                    </tr>
                </table>
            
            <ul ng-repeat="loaner in controller.loaners">
                <li>{{loaner.userName}}</li>
            </ul>
        </div>
    </div>
</div>