

<div class="container" id="userCarBody">
    <div class="row searchCars">
        <form class="col-sm-12">
            <div class="col-md-12"><br />
                <span>
                    <label>Search by make:</label><input style="color: black;" type="text" ng-model="make" />
                    <label>Search by model:</label><input style="color: black;" type="text" ng-model="model" />
                    <label>Search by price:</label><input style="color: black;" type="number" ng-model="price" />
                </span>  
            </div>

        </form>
    </div>


    <div class="row">
        <div class="col-md-10">
            <h2>Recent Listings</h2>
            <div class="row">
                <div class="col-md-12 col-sm-12" id="carPageBody">
                    <div class="row">
                        <uib-pagination total-items="controller.totalCars" ng-model="controller.currentPage" max-size="controller.maxSize" class="pagination-sm" boundary-link-numbers="true" ng-change="controller.getCars()" items-per-page="controller.itemsPerPage"></uib-pagination><br />
                        <div style="display:inline" ng-repeat="user in controller.users">
                            <div class="col-lg-6 col-sm-12" ng-repeat="car in user.carsToLoan | filter:{make:make, price: price, model: model}" id="carRepeat">
                                <a href="/userCar/{{user.id}}/{{car.id}}"><img id="carPosts" ng-src="{{car.image}}" class="img-responsive img-thumbnail" /></a>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div id="carProps">
                                            <span>{{car.year}} {{car.make}} {{car.model}}</span><br />Price per day: {{car.price | currency}}<br /><div id="carRatingView">
    Car Rating: {{car.averageRating}}<br /><div class="progress">

        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{car.averageRating / 5 * 100}}%">
        </div>

    </div>
</div>
                                            <div class="btn btn-block btn-danger" ng-click="controller.carRateModal(car.id)" id="rateCarBut">RATE CAR</div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="/profile/{{user.id}}">
                                            <img ng-src="{{user.image}}" style="height: 50px; width: 50px" class="img-responsive" />
                                        </a>
                                        <br />
                                        <div id="carDeets">Display Name: {{user.displayName}}</div>
                                        <span>Driver Rating: {{user.averageRating}}</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{user.averageRating / 5 * 100}}%">

                                            </div>
                                        </div>

                                        <div class="btn btn-block btn-danger" ng-click="controller.driverRateModal(user.id)" id="rateDriverBut">RATE OWNER</div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <uib-pagination id="carPaging" total-items="controller.totalCars" ng-model="controller.currentPage" max-size="controller.maxSize" class="pagination-sm" boundary-link-numbers="true" ng-change="controller.getCars()" items-per-page="controller.itemsPerPage"></uib-pagination><br />
                </div>

            </div>



        </div>
        <div class="col-md-2 pull-right tbc" id="thumbnailCars">
            <div class="list-group glyphicon glyphicon-list-alt ">
                <div class="popular-car" ng-repeat="user in controller.users">
                    <div ng-repeat="car in user.carsToLoan">
                        <a href="/userCar/{{user.id}}/{{car.id}}"><img id="popCarPosts" ng-src="{{car.image}}" class="img-responsive img-thumbnail" /></a>
                        <p id="sideCarP">{{car.year}} {{car.make}} {{car.model}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
