<div class="container">
    <div class="col-lg-4 text-center">
        <div class="rewivemodel">
            <form id="contact_form" method="POST" enctype="multipart/form-data" ng-submit="controller.saveCarReview()">
                <div class="text-center">
                    <label for="name">Review Title</label><br />
                    <input id="name" class="input" name="name" type="text" value="" size="60" ng-model="controller.reviewToCreate.title" /><br />
                </div><p>{{controller.errorMessages.title[0]}}</p>

                <div class="text-center">
                    <label for="message">Your Review:</label><br />
                    <textarea id="message" class="input" name="message" rows="7" cols="60" ng-model="controller.reviewToCreate.message" style="vertical-align:middle"></textarea><br />
                </div><p>{{controller.errorMessages.message[0]}}</p>
                <button type="submit" class="btn btn-success btn-block" style="margin-top: 2em; margin-left:8em">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>