<div class="row driverReviews">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="col-lg-3">
                <img class="img-responsive" ng-src="{{controller.user.image}}" style="height: 150px; width: 150px;" />
            </div>
            <ul class="list-group table-responsive" id="userDetails">
                <li class="list-group-item">User Name: {{controller.user.displayName}}</li>
                <li class="list-group-item">Name: {{controller.user.firstName}} {{controller.user.lastName}}</li>
                <li class="list-group-item">Rating:  {{controller.user.averageRating}}/5</li>

            </ul>
        </div>
        <div class="col-lg-12">
            <div ng-repeat="review in controller.user.reviews">
                <div class="col-lg-12 list-group reviewRepeat">
                    <div class="col-lg-8 list-group-item-info pull-left reviewRepeat">
                        {{review.title}} <hr id="reviewHr" />
                        
                        {{review.message}}
                        <div class="col-lg-4 pull-right" ng-repeat="sent in review.sentimentEntities">
                            <p>Sentiment score:</p>
                            <span>
                                {{sent.sentimentScore}}
                                {{sent.type}}
                            </span> 
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>